body {
    background-image: url(images/dark-honeycomb/dark-honeycomb.png);
    margin: 0 auto;
}

.font {
    font-family: 'Press Start 2P', cursive;
}

#gameboy {
    width: 100%;
    height: auto;
    border-radius: 30px;
    position: relative;
    margin-top: 10%;
}

h1 {
    font-size: 20px;
}

#introtext {
    color: black;
    position: absolute;
    width: 50%;
    top: 13%;
    right: 27%;
    text-align: center;
}

p {
    margin-top: 8%;
    margin-left: 13%;
    font-size: 7px;
}


#akey {
    border-style: solid;
    border-color: white;
    border-width: 3px;
    position: absolute;
    height: 75px;
    width: 61px;
    top: 40%;
    right: 7%;
}

#downkey {
    border-style: solid;
    border-color: white;
    border-width: 3px;
    position: absolute;
    height: 50px;
    width: 73px;
    top: 46%;
    right: 60%;
}

#instructions {
    color: black;
    position: absolute;
    width: 61%;
    top: 17%;
    right: 23%;
    text-align: center;
}


.screentwo {
    margin-left: 10%;
    margin-right: 10%;
}


#upload {
    margin-top: 55%;
}

#results {
    margin-top: 18%;
    margin-bottom: 25%;
}


/* Mobile M */
@media (min-width: 375px) {

    #gameboy {
        margin-top: 7%;
    }
    
    h1 {
        font-size: 22px;
    }
    
    #introtext {
        color: black;
        position: absolute;
        width: 50%;
        top: 16%;
        right: 25%;
        text-align: center;
    }

    #akey {
        height: 60px;
        width: 64px;
        top: 48%;
        right: 8%;
    }
    
    #downkey {
        height: 53px;
        width: 91px;
        top: 53%;
        right: 60%;
    }

    #instructions {
        top: 22%;
        right: 19%;
    }

    .screentwo {
        margin-left: 10%;
        margin-right: 10%;
    }
    
    
    #upload {
        margin-top: 35%;
    }
    
    #results {
        margin-top: 18%;
        margin-bottom: 41%;
    }
    


}


 /* Mobile L */
@media (min-width: 425px) { 

    #gameboy {
        margin-top: 7%;
    }

    
    #introtext {
        color: black;
        position: absolute;
        width: 52%;
        top: 17%;
        right: 25%;
        text-align: center;
    }

    h1 {
        font-size: 27px;
    }

    p {
        margin-top: 8%;
        font-size: 9px;
    }

    #instructions {
        top: 25%;
        right: 21%;
        width: 64%
    }

    #akey {
        height: 80px;
        width: 83px;
        top: 54%;
        right: 6%;

    }
    
    #downkey {
        height: 61px;
        width: 107px;
        top: 61%;
        right: 60%;
    }

    .screentwo {
        margin-left: 10%;
        margin-right: 10%;
    }
    
    
    #upload {
        margin-top: 35%;
        margin-left: 15%;
    }

    #results {
        margin-top: 18%;
        margin-bottom: 27%;
        margin-left: 15%;
    }

 }

 /* Tablet */
@media (min-width: 768px) { 


    #gameboy {
        margin-top: 7%;

   
    }
    
    h1 {
        font-size: 62px;
    }
    
    #introtext {
        color: black;
        position: absolute;
        width: 50%;
        top: 298px;
        right: 242px;
        text-align: center;
    }

    p {
        margin-top: 20px;
        font-size: 22px;
    }

    #instructions {
        top: 285px;
        right: 246px;
    }

    #akey {
        height: 143px;
        width: 179px;
        top: 1012px;
        right: 83px;

    }
    
    #downkey {
        height: 110px;
        width: 116px;
        top: 1126px;
        right: 681px;
    }

    .screentwo {
        margin-left: 10%;
        margin-right: 10%;
    }
    
    
    #upload {
        margin-top: 35%;
        margin-left: 20%;
    }

    #User-Image-Container {
        height: 400px;
    }
    
    #results {
        margin-top: 18%;
        margin-bottom: 27%;
        margin-left: 20%;
        height: 400px;
    }


 }
