body {
    background-image: url(images/dark-honeycomb/dark-honeycomb.png);
    margin: 0 auto;
}

#gameboy {
    height: 650px;
    margin-left: 30%;
    margin-top: 5%;
}

#screentwo {
    margin-top: 20%;
    margin-bottom: 25%;
    margin-left: 20%;
}

#User-Image-Container {
    position: relative;
}

#pokecard {
    float: right;
    margin-left: 30%;

}