body {
    background-image: url(images/dark-honeycomb/dark-honeycomb.png);
    margin: 0 auto;
}

.font {
    font-family: 'Press Start 2P', cursive;
}

#intro {
    margin-left: 15%;
    margin-top: 1%;
    margin-bottom: 30%;
    
}

#gameboy {
    height: 800px;
    width: 790px;
    border-radius: 30px;
    position: relative;
}

#introtext {
    color: black;
    position: absolute;
    width: 28%;
    top: 160px;
    right: 516px;
    text-align: center;
}

h1 {
    font-size: 50px;
}

p {
    margin-top: 25px;
}

#instructions {
    color: black;
    position: absolute;
    width: 28%;
    top: 160px;
    right: 516px;
    text-align: center;
}

#akey {
    border-style: solid;
    border-color: white;
    border-width: 3px;
    position: absolute;
    height: 150px;
    width: 150px;
    top: 610px;
    left: 965px;
}

#downkey {
    border-style: solid;
    border-color: white;
    border-width: 3px;
    position: absolute;
    height: 100px;
    width: 100px;
    top: 700px;
    left: 512px;
}

#screentwo {
    margin-bottom: 25%;
    margin-left: 10%;
    margin-right: 10%;
}

#User-Image-Container {
    position: relative;
}

#pokecard {
    float: right;
    margin-left: 30%;
}

h4, h5, h6 {
    text-align: center;
}

#Button-Container {
    display: block;
    margin: auto;
    margin-bottom: 1em;
}

.card-text {
    text-align: center;
}

#pokeImage {
    display: block;
    margin: auto;
    width: 30%;
}

.cardOne {
    background: linear-gradient(red, white);
}