/* GLOBAL CSS */
body {
    background: url(images/ashbackground.png);
    background: cover;
    background-attachment: fixed; 
    margin: 0 auto;
    background-repeat: no-repeat;
}

.font {
    font-family: 'Press Start 2P', cursive;
}

/* ===================== Small devices (~350px) ===============================*/


/* =========== SCREEN 1 ============= */

#gameboy {
    width: 100%;
    height: auto;
    border-radius: 30px;
    position: relative;
    margin-top: 25%;
}


#introtext {
    color: black;
    position: absolute;
    width: 58%;
    top: 25%;
    right: 20%;
    text-align: center;
}

h1 {
    font-size: 19px;
}

p {
    font-size: 9px;
}

#pokeball-image {
    width: 105px;
}

#instructions {
    color: black;
    position: absolute;
    width: 58%;
    top: 23%;
    right: 20%;
    text-align: center;
}

#professor-oak {
    width: 43px;
}

#akey {
    border-style: solid;
    border-color: white;
    border-width: 3px;
    position: absolute;
    height: 75px;
    width: 61px;
    top: 63%;
    right: 8%;
}

#bkey {
    border-style: solid;
    border-color: white;
    border-width: 3px;
    position: absolute;
    height: 75px;
    width: 61px;
    top: 67%;
    right: 26%;
}

#downkey {
    border-style: solid;
    border-color: white;
    border-width: 3px;
    position: absolute;
    height: 50px;
    width: 73px;
    top: 71%;
    right: 63%;
}

/* --- PokeBall Animation ---- */

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .center-on-page {
    position: absolute;
    top: 140%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .pokeballanimate {
    animation: shake 1.25s cubic-bezier(.36,.07,.19,.97) 3;
  }
  .pokeball__buttonanimate {
    animation: blink .5s alternate 7;
  }

  @keyframes shake {
    0 { transform: translate(0, 0) rotate(0); }
    20% { transform: translate(-10px, 0) rotate(-20deg); }
    30% { transform: translate(10px, 0) rotate(20deg); }
    50% { transform: translate(-10px, 0) rotate(-10deg); }
    60% { transform: translate(10px, 0) rotate(10deg); }
    100% { transform: translate(0, 0) rotate(0); }
  }

/* =========== END SCREEN 1 ============= */

/* ============ SCREEN 2 ================ */

.screentwo {
    margin-left: 8%;
}


#upload {
    margin-top: 70%;
}

#userImage {
    width: 100px;
    height: 100px;
}

#results {
    margin-top: 9%;
    margin-bottom: 13%;
}

#teamRocket {
    height: 100px;
    width: 100px;
}

/* ------ Modal error window ----- */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content Box */
  .modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    position: relative;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-left: 95%;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

/* ------ Top 5 Pokemon ------ */
  
ul{
    list-style-type: none;
    padding: 0;
}
li{
    padding: 20px;
    background: #f6f6f6;
    font-size: 20px;
    color: #555;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    height: 46px;
    width: 220px;
    padding-bottom: 100px;
}

li:nth-child(even){
    padding: 20px;
    background: #f2f2f2;
    padding-bottom: 100px;
}

li span{
    display: block;
}

li span:nth-child(2){
    font-size: 16px;
    margin-top: 6px;
    color: #999;
}

li div{
    position: absolute;
    top: 0;
    right: 0px;
    background: rgba(255,255,255,0.6);
    width: 40px;
    text-align: center;
    padding: 10px 0;
    font-weight:  bold;
    cursor:  pointer;
}

li img {
    float: left;
}

/* ============ SCREEN 3 ============ */

#pokeImage{
    width: 300px;
    height: 300px;
    /* margin: 0 auto; */
 }

 #randBattleTable{
    margin: 0 auto;
    color: white;
    background: red;
    text-align: center;
    border: "1|0";
 }

 #randPokeImage{
    width: 250px;
    height: 250px;
    margin: 0 auto;
}

#userBattleTable{
    margin: 0 auto;
    color: white;
    background: green;
    text-align: center;
    border: "1|0";
 }

 #userPokeImage{
    width: 250px;
    height: 250px;
    margin: 0 auto;
}


  /* Medium devices (tablets, 768px and up)
  @media (min-width: 768px) { ... }
  
  /* Large devices (desktops, 992px and up) */
  /* @media (min-width: 992px) { ... } */
  
  /* Extra large devices (large desktops, 1200px and up) */
  /* @media (min-width: 1200px) { ... } */





 
